body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.calculadora {
  border: 1px solid #ccc;
  padding: 15px;
  width: 220px;
  text-align: center;
  background-color: #ccc;
  border-radius: 15px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  color: rgb(3, 15, 85);
}

#tela {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: right;
  background-color: beige;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(94, 92, 212);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

